<html>
<div class="top-bar foundation-5-top-bar">
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
      	<li><strong>CMU CONNECT</strong>&nbsp;
        <li><a href="#">STUDENT</a></li>
        <li><a href="#">ALUMNI</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>Already have an account? </li>
        <li><a href="about.html" class="button round tiny info">Sign In</a></li>
      </ul>
    </div>
  </div>
</div>



</br></br>
<div class="work-feature-block row">
	<h4 class="work-feature-block-header">Connect with a mentor today!</h4></br>
  <div class="columns medium-7">
    <img class="work-feature-block-image" <%= image_tag 'home.jpg' %>>
    <p class="form-registration-member-signin">Already a member? <a href="#">Sign in</a></p>
    	 <p class="form-registration-terms"><a href="#">Terms &amp; Conditions</a>|<a href="#">Privacy</a></p>
  </div>
  <div class="columns medium-5">
    <div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
      <div class="login-box-form-section">
        <h1 class="login-box-title">Sign up now!</h1>
        <select class= "has-dropdown" name="user_type">
        	<option value="" disabled selected>Mentor or Mentee</option>
  			<option value="mentor">Mentor</option>
  			<option value="mentee">Mentee</option>
		</select>
		<input class="has-dropdown" type="text" name="username" placeholder="Full Name" />
        <input class="has-dropdown" type="text" name="username" placeholder="Username" />
        <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
        <input class="login-box-input" type="password" name="password" placeholder="Password" />
        <input class="login-box-input" type="password" name="password2" placeholder="Retype password" />
        <input class="button round info expanded" type="submit" name="signup_submit" value="Sign me up" />
      </div>
    </div>
  </div>
</div>


  </div>
</div>
</html>