<div class="portfolio-resume row">

  <div class="large-4 columns">
    <div class="portfolio-resume-wrapper">
      <img class="portfolio-resume-headshot" src="https://placehold.it/250" alt="headshot">
<!-- use button tag for on page actions -->
	  <br></br>
<button class="button button-rounded-hover">Edit Profile</button>
<br></br>
<button class="button button-rounded-hover">Upload Resume</button>
<br></br>
<button class="button button-rounded-hover">Access Guidebook</button>



    </div>
  </div>

  <div class="large-4 columns">
    <div class="portfolio-resume-wrapper">
      <h3 class="portfolio-resume-header">Student Information</h3>
      <div class="portfolio-resume-spacing">
        <p>Name: currentuser.name (temp)</p>
        <p>Email: currentuser.email (temp) </p>
		<p>Major: currentuser.major (temp) </p>
		<p>Year: currentuser.graduation(temp) </p>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="portfolio-resume-wrapper">
	  
	  <div class="card profile-card-action-icons">
	    <div class="card-section">
	      <div class="profile-card-header">
	        <div class="profile-card-avatar">
	          <img class="avatar-image" src="https://i.imgur.com/3AeQRbR.jpg" alt="Harry Manchanda">
	        </div>
	        <div class="profile-card-author">
	          <h5 class="author-title">Harry Manchanda</h5>
	          <p class="author-description">Front End Web Developer</p>
	        </div>
	      </div>
	      <div class="profile-card-about">
	        <h5 class="about-title separator-left">Mentor</h5>
	        <p class="about-content">
	          Email: mentor@gmail.com <br></br>
			  Major: Information Systems <br></br>
			  Year: 2015 <br></br>
	        </p>
	      </div>
	      <div class="profile-card-action">
			  <button class="button button-rounded-hover">Chat</button>
			  &nbsp;&nbsp;&nbsp;&nbsp;
			  <button class="button button-rounded-hover">Video Chat</button>


	      </div>
	    </div>
	  </div>

	  

    </div>
  </div>

</div>


