// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card-profile-stats {
  border: 1px solid #cacaca;
  margin: 0 0 1.25rem;
  padding: 1.25rem;
  background: #fefefe;
}

.card-profile-stats .card-profile-stats-intro {
  text-align: center;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
  border-radius: 50%;
  margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
  margin: 0;
}

.card-profile-stats .card-profile-stats-container {
  text-align: center;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
  margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic p:last-child {
  margin: 0;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-link {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #0a0a0a;
  padding: 0.5rem;
  cursor: pointer;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-content {
  display: none;
}


@media print, screen and (min-width: 64em) {
  .card-profile-stats .card-profile-stats-intro {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: left;
  }
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    margin: 0 1.25rem 0 0;
    max-width: 250px;
  }
  .card-profile-stats .card-profile-stats-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}


.card-profile-stats {
  border: 1px solid #cacaca;
  margin: 0 0 1.25rem;
  padding: 1.25rem;
  background: #fefefe;
}

.card-profile-stats .card-profile-stats-intro {
  text-align: center;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
  border-radius: 50%;
  margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
  margin: 0;
}

.card-profile-stats .card-profile-stats-container {
  text-align: center;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
  margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic p:last-child {
  margin: 0;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-link {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #0a0a0a;
  padding: 0.5rem;
  cursor: pointer;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-content {
  display: none;
}


@media print, screen and (min-width: 64em) {
  .card-profile-stats .card-profile-stats-intro {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: left;
  }
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    margin: 0 1.25rem 0 0;
    max-width: 250px;
  }
  .card-profile-stats .card-profile-stats-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}


.multi-step-checkout-process-step {
  margin-top: 20px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 39.9375em) {
  .multi-step-checkout-process-step {
    padding-right: 0rem;
  }
}

.multi-step-checkout-process .accordion-title {
  color: #3e3e3e;
  font-size: 1.25rem;
  transition: color 0.5s ease;
  border: none;
  font-family: 'Droid serif', serif;
}

.multi-step-checkout-process .accordion-title:hover, .multi-step-checkout-process .accordion-title:active, .multi-step-checkout-process .accordion-title:focus {
  color: #242424;
  transition: color 0.5s ease;
  background: none;
}

.multi-step-checkout-process :last-child:not(.is-active) > .accordion-title {
  border: none;
}

.multi-step-checkout-process .accordion-item {
  border-bottom: 1px solid #e6e6e6;
  padding-right: 0.8rem;
}



.multi-step-checkout-process .accordion-item.is-active {
  border: 1px solid #e6e6e6;
  border-top: 3px solid #1779ba;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.multi-step-checkout-process .accordion-item .accordion-title {
  font-weight: 400;
}

.multi-step-checkout-process .accordion-item .accordion-title::before {
  right: 0.5rem;
}

.multi-step-checkout-process .accordion-content {
  border: none;
  padding-left: 35px;
}

.multi-step-checkout-process :last-child > .accordion-content:last-child {
  border-bottom: none;
}

.multi-step-checkout-step-title-subheader {
  color: #a4a4a4;
  font-size: 0.9rem;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Open sans', serif;
}

.multi-step-checkout-step-subheader {
  color: #3e3e3e;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Open sans', sans-serif;
}

.multi-step-checkout-step-subdesc {
  color: #8a8a8a;
  font-size: 0.9rem;
}

.multi-step-checkout-shipping-option {
  margin-bottom: 10px;
}

.multi-step-checkout-step-section {
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.multi-step-checkout-shipping-option-selection {
  position: absolute;
  margin-top: 0.2rem;
}

.multi-step-checkout-shipping-option-title {
  display: block;
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-left: 1.6rem;
  margin-bottom: 0.8rem;
}

.multi-step-checkout-shipping-option-desc {
  font-size: 0.9rem;
  color: #8a8a8a;
  margin-left: 25px;
  margin-top: -10px;
}

.multi-step-checkout-shipping-cost {
  text-align: right;
}

.multi-step-checkout-form-divider {
  border-bottom: 1px dashed #e6e6e6;
}

.multi-step-checkout-form input {
  background: #f8f8f8;
}

.multi-step-checkout-enews-sign-up label {
  position: relative;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.multi-step-checkout-enews-sign-up-checkbox {
  position: absolute;
  margin-top: 0.4rem;
}

.multi-step-checkout-credit-card-info label span {
  color: #a4a4a4;
}

.multi-step-checkout-payment-icons {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1rem;
}

.multi-step-checkout-payment-icons li {
  display: inline;
}

.multi-step-checkout-billing-address .multi-step-checkout-billing-address-list {
  list-style: none;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  color: #8a8a8a;
  font-size: 0.9rem;
}

.multi-step-checkout-billing-address .multi-step-checkout-billing-address-checkbox {
  position: absolute;
  margin-top: 0.4rem;
}

.multi-step-checkout-billing-address label {
  margin-left: 1.5rem;
}

.multi-step-checkout-create-account {
  margin-top: 2rem;
}

@media screen and (max-width: 39.9375em) {
  .multi-step-checkout-create-account {
    margin-top: 0.5rem;
  }
}

.multi-step-checkout-create-account .create-account-desc {
  font-size: 0.9rem;
  color: #8a8a8a;
}

.multi-step-checkout-logo {
  width: 118px;
  height: 38px;
}

.multi-step-checkout-arrow {
  height: 13px;
  width: 13px;
}


.progress-indicator {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}

.progress-indicator > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 1.5em;
}

.progress-indicator > li span {
  position: absolute;
  color: #e6e6e6;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

.progress-indicator > li::before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #e6e6e6;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 1.5em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}

.progress-indicator > li::after {
  content: '';
  position: absolute;
  display: block;
  background: #e6e6e6;
  width: 100%;
  height: 0.15em;
  top: 50%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 50%;
  margin-left: 1.5em\9;
  z-index: 0;
}

.progress-indicator > li:last-child:after {
  display: none;
}

.progress-indicator > li.is-complete {
  color: #1779ba;
}

.progress-indicator > li.is-complete::before, .progress-indicator > li.is-complete::after {
  color: #fefefe;
  background: #1779ba;
}

.progress-indicator > li.is-complete span {
  color: #1779ba;
}

.progress-indicator > li.is-current {
  color: #4eabe9;
}

.progress-indicator > li.is-current::before {
  color: #fefefe;
  background: #4eabe9;
}

.progress-indicator > li.is-current span {
  color: #4eabe9;
}





