 <html>
  <div class="top-bar foundation-5-top-bar">
   <div id="responsive-menu">
     <div class="top-bar-left">
       <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
       	<li><strong>CMU CONNECT</strong>&nbsp;
        <li><a href="#">FORUM</a></li>
         <li><a href="#">RESOURCE VAULT</a></li>
       </ul>
     </div>
     <div class="top-bar-right">
       <ul class="menu">
       	<% if logged_in? %>
        <%= link_to "Log Out", logout_path, class: "button round tiny info" %>
        <% else %>
        <li>Already have an account? </li>
        <li><%= link_to "Log in", login_path, class: "button round tiny info" %></li>
        <%end%>
      </ul>
     </div>
   </div>
</div>
